@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 3, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-font {
  font-family: 'Raleway', 'Helvetica', sans-serif; }

/* line 7, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-slab--masthead {
  background-color: #111;
  color: #FFF; }

/* line 12, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-slab--primary {
  background-color: cadetblue;
  color: #FFF; }

/* line 17, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-slab--secondary {
  background-color: #f90;
  color: #FFF; }

/* line 22, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-slab--dimmed {
  background-color: #F5F2F0;
  color: #999; }

/* line 27, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-box {
  border-color: #f90; }
