@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 21, /Users/lmadsen/Sites/tdcss/src/themes/_tdcss-slab.scss */
.tdcss-slab--primary {
  background-color: #f3f3f3;
  color: #222; }

/* line 26, /Users/lmadsen/Sites/tdcss/src/themes/_tdcss-slab.scss */
.tdcss-slab--secondary {
  background-color: white;
  color: #222; }

/* line 31, /Users/lmadsen/Sites/tdcss/src/themes/_tdcss-slab.scss */
.tdcss-slab--inverted {
  background-color: #222;
  color: white; }

/* line 36, /Users/lmadsen/Sites/tdcss/src/themes/_tdcss-slab.scss */
.tdcss-slab--dimmed {
  background-color: #f3f3f3;
  color: #ccc; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/themes/_tdcss-box.scss */
.tdcss-box {
  border: 1px solid transparent;
  overflow: hidden; }

/* line 6, /Users/lmadsen/Sites/tdcss/src/themes/_tdcss-box.scss */
.tdcss-box {
  border-color: #f3f3f3; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/themes/_your-custom-header.scss */
.your-custom-header {
  float: left;
  width: 100%;
  background-color: white;
  color: #222; }

/* line 9, /Users/lmadsen/Sites/tdcss/src/themes/_your-custom-header.scss */
.your-custom-header__title {
  float: left;
  margin: 0; }

/* line 14, /Users/lmadsen/Sites/tdcss/src/themes/_your-custom-header.scss */
.your-custom-header__menu {
  float: right; }
  /* line 17, /Users/lmadsen/Sites/tdcss/src/themes/_your-custom-header.scss */
  .your-custom-header__menu a {
    color: inherit; }

/* line 7, /Users/lmadsen/Sites/tdcss/src/themes/default.scss */
.tdcss-font {
  font-family: 'Raleway', 'Helvetica', sans-serif; }
