<div class="tdcss-fragment tdcss-box tdcss-box--fragment" id="fragment-1">
  <div class="tdcss-fragment__head tdcss-slab tdcss-slab--fragment tdcss-slab--secondary tdcss-font">
    <h3 class="tdcss-fragment__title">{{title}}</h3>
    <div class="tdcss-fragment__details">
      these are details
      {{#if renderSnippet}}
      <div class='tdcss-code-example'>
        <pre>
          <code class="language-markup">
            {{html}}
          </code>
        </pre>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="tdcss-dom-example">
    {{{html}}}
  </div>
</div>
