<div class="tdcss-fragment tdcss-box tdcss-box--fragment tdcss-slab--primary" id="fragment-1">
  <div class="tdcss-fragment__head tdcss-font">
    <button type="button" class="tdcss-fragment__toggle" onclick=" this.parentNode.parentNode.classList.contains('is-fragment-details-expanded')?this.parentNode.parentNode.classList.remove('is-fragment-details-expanded'):this.parentNode.parentNode.classList.add('is-fragment-details-expanded'); return false;" >
      <h3 class="tdcss-fragment__title">{{title}}</h3>
    </button>
    
    <div class="tdcss-fragment__details">
      {{#if renderSnippet}}
      <div class='tdcss-code-example tdcss-slab tdcss-slab--secondary'>
        <pre>
          <code class="language-markup">
            {{html}}
          </code>
        </pre>
      </div>
      {{/if}}

      {{description}}

    </div>
  </div>
  <div class="tdcss-fragment__preview tdcss-slab tdcss-slab--secondary">
    <div class="tdcss-dom-example">
      {{{html}}}
    </div>
  </div>
</div>
