<div class='tdcss-code-example'>
  <div class='tdcss-dom-example'>{{{html}}}</div>
  {{#if renderSnippet}}
      <div class='tdcss-code-example'>
        <h3 class='tdcss-h3'>{{title}}</h3>
        <pre><code class='language-markup'>{{html}}</code></pre>
      </div>
  {{/if}}
</div>
