<section class="tdcss-group" id="{{href}}">
  <header class="tdcss-group__head tdcss-font">
    <h1 class="tdcss-group__title">{{name}}</h1>
    <div class="tdcss-group__description tdcss-slab tdcss-slab--description tdcss-slab--dimmed tdcss-font">
      {{text}}
    </div>
  </header>

  {{{content}}}

  <div class="tdcss-group__to-top">
    <a class="tdcss-group__to-top-link" href="#">Back to Top</a>
  </div>
</section>
