<div class="tdcss-subgroup tdcss-font" id="{{href}}">
  <h2 class="tdcss-subgroup__title">{{name}}</h2>
  <div class="tdcss-subgroup__description tdcss-text--dimmed">
    {{description}}
  </div>
</div>
