<input type="checkbox" id="tdcssMenuToggle" aria-hidden="true">
<header class="tdcss-header tdcss-font">
    <input type="checkbox" id="tdcssSectionsToggle" aria-hidden="true">
    <nav role="navigation" class="tdcss-sections">
        <ul class="tdcss-mainmenu">
            {{#each mainMenuItems}}
                <li class="tdcss-mainmenu__item tdcss-nav-border">
                    <a class="tdcss-nav-item--primary" href="{{this.href}}">{{this.name}}</a>
                </li>
            {{/each}}
        </ul>
    </nav>
    <label for="tdcssSectionsToggle" class="tdcss-sections__toggle tdcss-nav-item--primary">
        <span class="tdcss-nav__toggle-label">Sections</span>
    </label>
    <label for="tdcssMenuToggle" class="tdcss-nav__toggle tdcss-nav-item--primary">
        <span class="tdcss-nav__toggle-label">Groups</span>
    </label>
    <h1 class="tdcss-header__title">TDCSS</h1>
    <div class="nav-container"></div>
</header>
