<input type="checkbox" id="tdcssMenuToggle" aria-hidden="true">
<label for="tdcssMenuToggle" class="tdcss-nav__toggle tdcss-nav-item--primary">
    <span class="tdcss-nav__toggle-label">Groups</span>
</label>
<div class="tdcss-nav tdcss-nav-border">
    <ul class="tdcss-menu">
        {{#each menuItems}}
        <li class="tdcss-menu__item tdcss-nav-border">
            <a class="tdcss-menu__link tdcss-nav-item--secondary" href="#{{this.href}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>
