<header class="tdcss-masthead tdcss-font">
  <div class="your-custom-header">
    <h1 class="your-custom-header__title">TDCSS</h1>
    <nav role="navigation" class="your-custom-header__nav">
        <ul class="your-custom-header__menu">
            <li class="your-custom-header__menu-item">
                <a href="#" class="your-custom-header__link tdcss-nav-item--primary">Colors</a>
            </li><li class="your-custom-header__menu-item">
                <a href="#" class="your-custom-header__link tdcss-nav-item--primary">Type</a>
            </li><li class="your-custom-header__menu-item">
                <a href="example.html" class="your-custom-header__link tdcss-nav-item--primary">Components</a>
            </li>
        </ul>
    </nav>
  </div>
  <div id="nav-container"></div>
</header>
