<input type="checkbox" id="tdcssMenuToggle" aria-hidden="true">
<header class="tdcss-header tdcss-font">
    <input type="checkbox" id="tdcssSectionsToggle" aria-hidden="true">
    <nav role="navigation" class="tdcss-sections">
        <ul class="tdcss-mainmenu">
            <li class="tdcss-mainmenu__item tdcss-nav-border">
                <a href="index.html" class="tdcss-nav-item--primary">Basic</a>
            </li><li class="tdcss-mainmenu__item tdcss-nav-border">
                <a href="components.html" class="tdcss-nav-item--primary">Components</a>
            </li>
        </ul>
    </nav>
    <label for="tdcssSectionsToggle" class="tdcss-sections__toggle tdcss-nav-item--primary">
        <span class="tdcss-nav__toggle-label">Sections</span>
    </label>
    <label for="tdcssMenuToggle" class="tdcss-nav__toggle tdcss-nav-item--primary">
        <span class="tdcss-nav__toggle-label">Groups</span>
    </label>
    <h1 class="tdcss-header__title">TDCSS</h1>
    <div class="nav-container"></div>
</header>
