.tdcss-slab--primary {
  background-color: #f3f3f3;
  color: #222;
}

.tdcss-slab--secondary {
  background-color: white;
  color: #222;
}

.tdcss-slab--inverted {
  background-color: #222;
  color: white;
}

.tdcss-slab--dimmed {
  background-color: #f3f3f3;
  color: #ccc;
}
