.tdcss-code-example {
  float: right;
  width: 50%;

  pre {
    min-height: 6em;
    margin: 0;

    height: auto !important;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background-color: inherit;
  }
}