.tdcss-slab {
  padding-left: 20px;
  padding-right: 20px;
}

.tdcss-slab--group {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tdcss-slab--masthead,
.tdcss-slab--description,
.tdcss-slab--fragment {
  padding-top: 10px;
  padding-bottom: 10px;
}
