.tdcss-fragment {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;

  margin: 1em 0;
}

.tdcss-fragment__head {
  float: left;
  width: 100%;
}


.tdcss-fragment__toggle {
  float: left;
  border: 0;
  background: transparent; 
  margin: .5em;

  &:before {
    content:"\25b6";
    display: inline-block;
    font-size: .8em;
    width: 10px;
    vertical-align: text-top;
  }
  .is-fragment-details-expanded & {
    &:before {
      content:"\25bc";
    }
  }
}

.tdcss-fragment__title {
  margin: 0;
  display: inline-block;
}

.tdcss-fragment__details {
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em;

  display: none;
  .is-fragment-details-expanded & {
    display: block;
  }
}

.tdcss-fragment__usage {
  float: left;
  width: 48%;
  font-size: .9em;
  line-height: 1.4;
}

.tdcss-fragment__usage-heading {
  font-size: .9em;
  margin-bottom: .7em;
  font-weight: normal;
}

.tdcss-fragment__preview {
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em;
}
