.tdcss-group {
  width: 100%;
  padding: 1px 0 0 0;
  vertical-align: bottom;
  cursor: pointer;

  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em;
}

.tdcss-group__title,
.tdcss-group__description {
  margin-bottom: 0;
}