@media (min-width: $on-canvas-min) {
  .tdcss-main {
    padding-top: $header-height;
    padding-left: $on-canvas-width;
  }
}

@media (min-width: 850px) {
  .tdcss-main {
    padding-left: $on-canvas-max-width;
  }
}
