.tdcss-group {
  width: 100%;
  padding: 1px 0 0 0;
  vertical-align: bottom;
  cursor: pointer;

  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em;


  // to-top link sits absolute to here
  position: relative;
}

.tdcss-group__head {
  display: block;
  padding: 2em 0;
  margin: 0;

  font-size: 2em;
}

.tdcss-group__title,
.tdcss-group__description {
  margin-bottom: 0;
}

.tdcss-group__description strong {
  font-weight: bold;
}

.tdcss-group__description em {
  font-style: italic;
}

.tdcss-group__to-top {
  position: absolute;
  top: 100%;
  background-color: red;
  right: 0;

}

.tdcss-group__to-top-link {
  display: block;
  padding: .1em .2em;
}