/**
 * tdcss.js: Super-simple styleguide tool
 * MIT License http://www.opensource.org/licenses/mit-license.php/
 * @author Jakob Løkke Madsen
 * @url http://www.jakobloekkemadsen.com
 */

// Import Vendor Styles
@import 'vendor/prism/prism';

// Import Component Styles
@import 'partials/tdcss-code-example';
@import 'partials/tdcss-fragment';
@import 'partials/tdcss-group';
@import 'partials/tdcss-header';
@import 'partials/tdcss-masthead';
@import 'partials/tdcss-menu';
@import 'partials/tdcss-nav';
@import 'partials/tdcss-subgroup';
@import 'partials/tdcss-submenu';

body {
	margin: 0;
}

[class*='tdcss-'] {
	box-sizing: border-box;
}


.tdcss-elements {
	margin: 1em;

	box-sizing: border-box;
	h1, h2, h3, p, ul {
		margin-top: 0;
	}
}



.tdcss-top {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 2em;
}

.tddcss-top__link {
	float: right;
	margin-right: 1.25em;
	color: #558696;
}

.tddcss-top__link:hover {
	color: #96cddf;
}



.tdcss-diff-warning,
.tdcss-fragment .tdcss-diff-stats {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 3px;
	font-size: 10px;
	color: white;
	background-color: red;
}

.tdcss-diff-warning {
	position: fixed;
	z-index: 10000;
	font-size: 12px;
}

.tdcss-diff-warning > a {
	padding-left: 0.25em;
	color: white;
}

.tdcss-diff-warning > a:hover {
	text-decoration: none;
}

.tdcss-fragment.tdcss-has-diff {
	outline: 1px dotted red;
}

.tdcss-diff-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
	opacity: 0.5;
}

.tdcss-dom-example {
	float: left;
	position: relative;
	width: 60%;
	padding: 1em;
}



.tdcss-title {
	font-size: 2em;
	color: #7A888D;
}

.tdcss-no-fragments {
	font-weight: 200;
	color: gray;
	text-align: center;
}
