@charset "UTF-8";
/**
 * tdcss.js: Super-simple styleguide tool
 * MIT License http://www.opensource.org/licenses/mit-license.php/
 * @author Jakob Løkke Madsen
 * @url http://www.jakobloekkemadsen.com
 */
/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-code-example.scss */
.tdcss-code-example {
  background: blue;
  padding: 1em;
  float: right;
  width: 50%;
  min-height: 4em; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-fragment.scss */
.tdcss-fragment {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 1px solid salmon;
  margin: 1em 0; }

/* line 11, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__title {
  background: salmon;
  margin: 0;
  padding: .5em; }

/* line 17, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__details {
  background: yellow;
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-group.scss */
.tdcss-group {
  width: 100%;
  padding: 1px 0 0 0;
  vertical-align: bottom;
  cursor: pointer;
  margin-bottom: 1em;
  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em; }

/* line 14, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-group.scss */
.tdcss-group__head {
  display: block;
  padding: 10px;
  margin: 0;
  font-family: verdana, sans-serif;
  font-size: 20px;
  background-color: cadetblue;
  color: white; }

/* line 27, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-group.scss */
.tdcss-group__description {
  padding: 1em 10px;
  margin-bottom: 1em;
  font-family: verdana, sans-serif;
  font-size: 14px;
  color: #898989;
  background-color: #f0f0f0;
  border: 1px solid #e7e7e7; }

/* line 37, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-group.scss */
.tdcss-group__description strong {
  font-weight: bold; }

/* line 41, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-group.scss */
.tdcss-group__description em {
  font-style: italic; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-header.scss */
.tdcss-header {
  background-color: #f90; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-menu.scss */
.tdcss-menu {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 7, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-menu.scss */
.tdcss-menu__item {
  display: block;
  padding: .5em; }

/**
 * Offcanvas navigation
 * 1. Arbitrary width, feel free to adapt
 * 2. Full height nav
 * 3. Off-canvas
 * 4. Responsible for opening/closing animation
 */
/* line 12, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
.tdcss-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  list-style: none;
  margin: .5em;
  background: deepskyblue;
  padding: 2em 0.5em; }
  @media (max-width: 700px) {
    /* line 12, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
    .tdcss-nav {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      /* 3 */
      -webkit-transition: 0.15s;
              transition: 0.15s;
      /* 4 */ } }

/**
 * Button thingie
 * 1. Absolutely positioning
 * 2. ... on the right side of the nav (make sure overflow is visible)
 */
/* line 33, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
.tdcss-nav__toggle {
  display: none; }
  @media (max-width: 700px) {
    /* line 33, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
    .tdcss-nav__toggle {
      display: block;
      position: absolute;
      /* 1 */
      left: 100%;
      /* 2 */
      top: 1em;
      padding: 0.5em;
      background: inherit;
      color: white;
      cursor: pointer;
      font-size: 1.2em;
      line-height: 1; } }

/**
 * Checkbox responsible for the toggle hack
 * Hidden, no matter what
 */
/* line 55, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
#tdcssNavToggle {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0; }

/**
 * When checkbox is checked, open the nav
 */
/* line 64, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
#tdcssNavToggle:checked ~ .tdcss-nav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

/**
 * Rotate the label when nav is opened
 * Purely aesthetic
 */
/* line 73, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
#tdcssNavToggle:checked ~ .tdcss-nav > .tdcss-nav__toggle .tdcss-nav__toggle-label {
  opacity: 0; }

/* line 76, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
#tdcssNavToggle:checked ~ .tdcss-nav > .tdcss-nav__toggle:after {
  content: "x";
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/**
 * Fixing a bug in Android <= 4.1.2
 * See: http://timpietrusky.com/advanced-checkbox-hack
 * Beware, can be costly: http://codepen.io/HugoGiraudel/details/jPOREG#comment-id-89799
 */
/* line 91, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
body {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  to {
    padding: 0; } }

/**
 * Take care of small screens
 */
@media (max-width: 350px) {
  /* line 103, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
  .tdcss-nav {
    width: 100%; }
  /* line 107, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
  [id='tdcssNavToggle']:checked ~ .tdcss-nav > .tdcss-nav__toggle {
    left: auto;
    right: 0;
    top: 0; } }

/**
 * Provide a fallback for browsers that do not support CSS transforms
 */
/* line 117, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
.no-csstransforms .tdcss-nav {
  left: -350px; }

/* line 121, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
.no-csstransforms [id='tdcssNavToggle']:checked ~ .tdcss-nav {
  left: 0; }

@media (min-width: 701px) {
  /* line 131, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-nav.scss */
  .tdcss-nav__neighbour {
    margin-left: 180px; } }

/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-subgroup.scss */
.tdcss-subgroup {
  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em; }

/* line 1, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-submenu.scss */
.tdcss-submenu {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 1em 0 0 0.5em; }

/* line 7, /Users/lmadsen/Sites/tdcss/src/partials/_tdcss-submenu.scss */
.tdcss-submenu__item {
  display: block;
  padding: .5em; }

/* line 18, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
body {
  margin: 0; }

/* line 22, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
[class*='tdcss-'] {
  box-sizing: border-box; }

/* line 27, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-fragments {
  display: none; }

/* line 33, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-elements {
  margin: 1em; }

/* line 40, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-top {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 2em; }

/* line 48, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tddcss-top-link {
  float: right;
  margin-right: 1.25em;
  color: #558696; }

/* line 54, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tddcss-top-link:hover {
  color: #96cddf; }

/* line 61, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-diff-warning,
.tdcss-fragment .tdcss-diff-stats {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 3px;
  font-size: 10px;
  color: white;
  background-color: red; }

/* line 72, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-diff-warning {
  position: fixed;
  z-index: 10000;
  font-size: 12px; }

/* line 78, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-diff-warning > a {
  padding-left: 0.25em;
  color: white; }

/* line 83, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-diff-warning > a:hover {
  text-decoration: none; }

/* line 87, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-fragment.tdcss-has-diff {
  outline: 1px dotted red; }

/* line 91, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-diff-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0.5; }

/* line 101, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-dom-example {
  float: left; }

/* line 105, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-dom-example {
  position: relative;
  width: 60%;
  padding: 1em; }

/* line 113, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-control-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
  display: table;
  width: 100%;
  padding: 0 2em;
  font-size: 14px;
  font-weight: 200;
  background-color: #2f2f2f;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }

/* line 127, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-title,
.tdcss-controls {
  display: table-cell;
  height: 2em;
  vertical-align: middle; }

/* line 133, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-title {
  font-size: 2em;
  font-weight: 200;
  color: #7A888D; }

/* line 139, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-controls {
  text-align: right; }

/* line 143, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-html-snippet-toggle {
  display: inline-block;
  padding: 0.75em;
  color: #afafaf;
  text-decoration: none; }

/* line 150, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-html-snippet-toggle:hover {
  color: #ebebeb; }

/* line 154, /Users/lmadsen/Sites/tdcss/src/tdcss.scss */
.tdcss-no-fragments {
  font-weight: 200;
  color: gray;
  text-align: center; }
