@charset "UTF-8";
/**
 * tdcss.js: Super-simple styleguide tool
 * MIT License http://www.opensource.org/licenses/mit-license.php/
 * @author Jakob Løkke Madsen
 * @url http://www.jakobloekkemadsen.com
 */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
/* line 28, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

/* line 35, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
/* line 40, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

/* line 48, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

/* line 52, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.punctuation {
  color: #999; }

/* line 56, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.namespace {
  opacity: .7; }

/* line 63, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905; }

/* line 69, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.selector,
.token.attr-name,
.token.string {
  color: #690; }

/* line 77, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

/* line 84, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

/* line 90, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.regex,
.token.important {
  color: #e90; }

/* line 94, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.important {
  font-weight: bold; }

/* line 98, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.entity {
  cursor: help; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-code-example.scss */
.tdcss-code-example {
  float: right;
  width: 50%; }
  /* line 5, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-code-example.scss */
  .tdcss-code-example pre {
    min-height: 6em;
    margin: 0;
    height: auto !important; }
  /* line 13, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-code-example.scss */
  .tdcss-code-example :not(pre) > code[class*="language-"],
  .tdcss-code-example pre[class*="language-"] {
    background-color: inherit; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-dom-example.scss */
.tdcss-dom-example {
  float: left;
  position: relative;
  width: 100%;
  padding: 1em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-elements.scss */
.tdcss-elements {
  padding: 5%; }
  /* line 4, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-elements.scss */
  .tdcss-elements h1, .tdcss-elements h2, .tdcss-elements h3, .tdcss-elements p, .tdcss-elements ul {
    margin-top: 0; }

@media (min-width: 701px) {
  /* line 10, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-elements.scss */
  .tdcss-elements {
    margin-top: 50px;
    margin-left: 30%; } }

@media (min-width: 850px) {
  /* line 17, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-elements.scss */
  .tdcss-elements {
    margin-left: 250px; } }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: 1em 0; }

/* line 10, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__head {
  float: left;
  width: 100%; }

/* line 16, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__toggle {
  float: left;
  border: 0;
  background: transparent;
  margin: .5em; }
  /* line 22, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
  .tdcss-fragment__toggle:before {
    content: "\25b6";
    display: inline-block;
    font-size: .8em;
    width: 10px;
    vertical-align: text-top; }
  /* line 30, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
  .is-fragment-details-expanded .tdcss-fragment__toggle:before {
    content: "\25bc"; }

/* line 36, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__title {
  margin: 0;
  display: inline-block; }

/* line 41, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__details {
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em;
  display: none; }
  /* line 48, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
  .is-fragment-details-expanded .tdcss-fragment__details {
    display: block; }

/* line 53, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__preview {
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group {
  width: 100%;
  padding: 1px 0 0 0;
  vertical-align: bottom;
  cursor: pointer;
  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em;
  position: relative; }

/* line 15, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__head {
  display: block;
  padding: 2em 0;
  margin: 0;
  font-size: 2em; }

/* line 24, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__title,
.tdcss-group__description {
  margin-bottom: 0; }

/* line 28, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__description strong {
  font-weight: bold; }

/* line 32, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__description em {
  font-style: italic; }

/* line 36, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__to-top {
  position: absolute;
  top: 100%;
  background-color: red;
  right: 0; }

/* line 44, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__to-top-link {
  display: block;
  padding: 0.1em 0.2em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-header.scss */
.tdcss-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  overflow-y: hidden; }
  @media (min-width: 701px) {
    /* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-header.scss */
    .tdcss-header {
      padding-right: 16px;
      height: 50px; } }

/* line 14, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-header.scss */
.tdcss-header__title {
  font-size: 1.5em;
  padding-left: 16px;
  line-height: 50px;
  margin-bottom: 0; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-mainmenu.scss */
.tdcss-mainmenu {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  line-height: 50px; }

@media (min-width: 701px) {
  /* line 9, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-mainmenu.scss */
  .tdcss-mainmenu__item {
    display: inline-block; } }

@media (max-width: 701px) {
  /* line 9, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-mainmenu.scss */
  .tdcss-mainmenu__item {
    border-bottom: 1px solid transparent; } }

/* line 18, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-mainmenu.scss */
.tdcss-mainmenu__item a {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  color: inherit; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
.tdcss-menu {
  padding-left: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none; }
  @media (min-width: 701px) {
    /* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
    .tdcss-menu {
      margin-right: -1px; } }

/* line 13, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
.tdcss-menu__item {
  border-bottom: 1px solid transparent; }
  /* line 16, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
  .tdcss-menu__item > a {
    padding: 16px;
    display: block;
    text-decoration: none; }

/**
 * Offcanvas navigation
 * 1. Arbitrary width, feel free to adapt
 * 2. Full height nav
 * 3. Off-canvas
 * 4. Responsible for opening/closing animation
 */
/* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
.tdcss-nav {
  padding-top: 50px; }
  @media (max-width: 700px) {
    /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
    .tdcss-nav {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      /* 3 */
      -webkit-transition: 0.15s;
              transition: 0.15s;
      /* 4 */
      border-right: none !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1; } }
  @media (min-width: 701px) {
    /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
    .tdcss-nav {
      position: fixed;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      border-right: 1px solid transparent;
      width: 30%;
      max-width: 250px; } }

/**
 * Button thingie
 * 1. Absolutely positioning
 * 2. ... on the right side of the nav (make sure overflow is visible)
 */
@media (min-width: 701px) {
  /* line 40, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
  .tdcss-nav__toggle {
    display: none; } }

@media (max-width: 700px) {
  /* line 40, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
  .tdcss-nav__toggle {
    float: right;
    line-height: 50px;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer; } }

/**
 * Checkbox responsible for the toggle hack
 * Hidden, no matter what
 */
/* line 68, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
#tdcssMenuToggle {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0; }

/**
 * When checkbox is checked, open the nav
 */
/* line 77, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
#tdcssMenuToggle:checked ~ .tdcss-nav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

/**
 * Rotate the label when nav is opened
 * Purely aesthetic
 */
/**
 * Fixing a bug in Android <= 4.1.2
 * See: http://timpietrusky.com/advanced-checkbox-hack
 * Beware, can be costly: http://codepen.io/HugoGiraudel/details/jPOREG#comment-id-89799
 */
/* line 111, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
body {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  to {
    padding: 0; } }

/**
 * Take care of small screens
 */
/**
 * Provide a fallback for browsers that do not support CSS transforms
 */
/* line 137, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
.no-csstransforms .tdcss-nav {
  left: -350px; }

/* line 141, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
.no-csstransforms [id='tdcssMenuToggle']:checked ~ .tdcss-nav {
  left: 0; }

/**
 * Offcanvas navigation
 * 1. Arbitrary width, feel free to adapt
 * 2. Full height nav
 * 3. Off-canvas
 * 4. Responsible for opening/closing animation
 */
@media (max-width: 700px) {
  /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
  .tdcss-sections {
    max-height: 0;
    overflow: hidden; } }

@media (min-width: 701px) {
  /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
  .tdcss-sections {
    float: right; } }

/**
 * Button thingie
 * 1. Absolutely positioning
 * 2. ... on the right side of the nav (make sure overflow is visible)
 */
@media (min-width: 701px) {
  /* line 25, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
  .tdcss-sections__toggle {
    display: none; } }

@media (max-width: 700px) {
  /* line 25, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
  .tdcss-sections__toggle {
    float: right;
    line-height: 50px;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer; } }

/**
 * Checkbox responsible for the toggle hack
 * Hidden, no matter what
 */
/* line 52, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
#tdcssSectionsToggle {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0; }

/**
 * When checkbox is checked, open the nav
 */
/* line 61, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
#tdcssSectionsToggle:checked ~ .tdcss-sections {
  max-height: 500px; }

/**
 * Rotate the label when nav is opened
 * Purely aesthetic
 */
/**
 * Fixing a bug in Android <= 4.1.2
 * See: http://timpietrusky.com/advanced-checkbox-hack
 * Beware, can be costly: http://codepen.io/HugoGiraudel/details/jPOREG#comment-id-89799
 */
/* line 96, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
body {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  to {
    padding: 0; } }

/**
 * Take care of small screens
 */
/**
 * Provide a fallback for browsers that do not support CSS transforms
 */
/* line 122, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
.no-csstransforms .tdcss-sections {
  left: -350px; }

/* line 126, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-sections.scss */
.no-csstransforms [id='tdcssSectionsToggle']:checked ~ .tdcss-sections {
  left: 0; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-subgroup.scss */
.tdcss-subgroup {
  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
.tdcss-submenu {
  list-style: none;
  padding-left: 16px;
  padding-bottom: 8px; }

/* line 7, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
.tdcss-submenu__item {
  padding-top: 8px;
  padding-bottom: 8px; }
  /* line 11, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
  .tdcss-submenu__item > a {
    text-decoration: none; }
    /* line 14, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
    .tdcss-submenu__item > a::before {
      content: '—';
      margin-right: 8px; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-top.scss */
.tdcss-top {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 2em; }

/* line 9, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-top.scss */
.tddcss-top__link {
  float: right;
  margin-right: 1.25em;
  color: #558696; }

/* line 15, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-top.scss */
.tddcss-top__link:hover {
  color: #96cddf; }

/* line 29, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
body {
  margin: 0; }

/* line 33, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
[class*='tdcss-'] {
  box-sizing: border-box; }

/* line 39, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning,
.tdcss-fragment .tdcss-diff-stats {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 3px;
  font-size: 10px;
  color: white;
  background-color: red; }

/* line 50, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning {
  position: fixed;
  z-index: 10000;
  font-size: 12px; }

/* line 56, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning > a {
  padding-left: 0.25em;
  color: white; }

/* line 61, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning > a:hover {
  text-decoration: none; }

/* line 65, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-fragment.tdcss-has-diff {
  outline: 1px dotted red; }

/* line 69, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0.5; }

/* line 78, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-no-fragments {
  font-weight: 200;
  color: gray;
  text-align: center; }
