@charset "UTF-8";
/**
 * tdcss.js: Super-simple styleguide tool
 * MIT License http://www.opensource.org/licenses/mit-license.php/
 * @author Jakob Løkke Madsen
 * @url http://www.jakobloekkemadsen.com
 */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 8, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
/* line 28, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

/* line 35, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
/* line 40, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

/* line 48, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

/* line 52, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.punctuation {
  color: #999; }

/* line 56, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.namespace {
  opacity: .7; }

/* line 63, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905; }

/* line 69, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.selector,
.token.attr-name,
.token.string {
  color: #690; }

/* line 77, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

/* line 84, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

/* line 90, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.regex,
.token.important {
  color: #e90; }

/* line 94, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.important {
  font-weight: bold; }

/* line 98, /Users/mberridge/Sites/tdcss.js/src/vendor/prism/prism.css */
.token.entity {
  cursor: help; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-code-example.scss */
.tdcss-code-example {
  padding: 1em;
  float: right;
  width: 50%; }
  /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-code-example.scss */
  .tdcss-code-example pre {
    min-height: 6em; }
  /* line 13, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-code-example.scss */
  .tdcss-code-example :not(pre) > code[class*="language-"],
  .tdcss-code-example pre[class*="language-"] {
    background-color: inherit; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: 1em 0; }

/* line 10, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__head {
  float: left;
  width: 100%; }

/* line 15, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__title {
  margin: 0;
  padding: .5em; }

/* line 20, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__details {
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em; }

/* line 27, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-fragment.scss */
.tdcss-fragment__preview {
  float: left;
  width: 100%;
  margin: 0;
  padding: .5em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group {
  width: 100%;
  padding: 1px 0 0 0;
  vertical-align: bottom;
  cursor: pointer;
  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em;
  position: relative; }

/* line 15, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__head {
  display: block;
  padding: 2em 0;
  margin: 0;
  font-size: 2em; }

/* line 24, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__title,
.tdcss-group__description {
  margin-bottom: 0; }

/* line 28, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__description strong {
  font-weight: bold; }

/* line 32, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__description em {
  font-style: italic; }

/* line 36, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__to-top {
  position: absolute;
  top: 100%;
  background-color: red;
  right: 0; }

/* line 44, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-group.scss */
.tdcss-group__to-top-link {
  display: block;
  padding: 0.1em 0.2em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-header.scss */
.tdcss-header {
  background-color: #f90; }

@media (min-width: 701px) {
  /* line 2, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-main.scss */
  .tdcss-main {
    padding-top: 50px;
    padding-left: 30%; } }

@media (min-width: 850px) {
  /* line 9, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-main.scss */
  .tdcss-main {
    padding-left: 250px; } }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-masthead.scss */
.tdcss-masthead {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%; }

/* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-masthead.scss */
.tdcss-masthead__title {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 0; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
.tdcss-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-right: -1px; }

/* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
.tdcss-menu__item {
  border-bottom: 1px solid transparent; }
  /* line 11, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-menu.scss */
  .tdcss-menu__item > a {
    padding: 16px;
    display: block;
    text-decoration: none; }

/**
 * Offcanvas navigation
 * 1. Arbitrary width, feel free to adapt
 * 2. Full height nav
 * 3. Off-canvas
 * 4. Responsible for opening/closing animation
 */
@media (max-width: 700px) {
  /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
  .tdcss-nav {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    /* 3 */
    -webkit-transition: 0.15s;
            transition: 0.15s;
    /* 4 */
    border-right-color: none !important; } }

@media (min-width: 701px) {
  /* line 8, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
  .tdcss-nav {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 50px;
    border-right: 1px solid transparent;
    width: 30%;
    max-width: 250px; } }

/**
 * Button thingie
 * 1. Absolutely positioning
 * 2. ... on the right side of the nav (make sure overflow is visible)
 */
/* line 33, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
.tdcss-nav__toggle {
  display: none; }
  @media (max-width: 700px) {
    /* line 33, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
    .tdcss-nav__toggle {
      display: block;
      position: fixed;
      /* 1 */
      top: 0;
      right: 0;
      padding-left: 16px;
      padding-right: 16px;
      line-height: 50px;
      cursor: pointer; } }

/**
 * Checkbox responsible for the toggle hack
 * Hidden, no matter what
 */
/* line 55, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
#tdcssMenuToggle {
  position: absolute;
  clip: rect(0 0 0 0);
  opacity: 0; }

/**
 * When checkbox is checked, open the nav
 */
/* line 64, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
#tdcssMenuToggle:checked ~ .tdcss-nav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

/**
 * Rotate the label when nav is opened
 * Purely aesthetic
 */
/**
 * Fixing a bug in Android <= 4.1.2
 * See: http://timpietrusky.com/advanced-checkbox-hack
 * Beware, can be costly: http://codepen.io/HugoGiraudel/details/jPOREG#comment-id-89799
 */
/* line 98, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
body {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  to {
    padding: 0; } }

/**
 * Take care of small screens
 */
@media (max-width: 700px) {
  /* line 110, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
  .tdcss-nav {
    width: 100%; }
  /* line 114, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
  [id='tdcssMenuToggle']:checked ~ .tdcss-nav > .tdcss-nav__toggle {
    left: auto;
    right: 0;
    top: 0; } }

/**
 * Provide a fallback for browsers that do not support CSS transforms
 */
/* line 124, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
.no-csstransforms .tdcss-nav {
  left: -350px; }

/* line 128, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-nav.scss */
.no-csstransforms [id='tdcssMenuToggle']:checked ~ .tdcss-nav {
  left: 0; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-subgroup.scss */
.tdcss-subgroup {
  /* this is a crappy solution to evade the fixed top bar */
  padding-top: 3.8em; }

/* line 1, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
.tdcss-submenu {
  list-style: none;
  padding-left: 16px;
  padding-bottom: 8px; }

/* line 7, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
.tdcss-submenu__item {
  padding-top: 8px;
  padding-bottom: 8px; }
  /* line 11, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
  .tdcss-submenu__item > a {
    text-decoration: none; }
    /* line 14, /Users/mberridge/Sites/tdcss.js/src/partials/_tdcss-submenu.scss */
    .tdcss-submenu__item > a::before {
      content: '—';
      margin-right: 8px; }

/* line 26, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
body {
  margin: 0; }

/* line 30, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
[class*='tdcss-'] {
  box-sizing: border-box; }

/* line 35, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-elements {
  padding: 5%; }
  /* line 38, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
  .tdcss-elements h1, .tdcss-elements h2, .tdcss-elements h3, .tdcss-elements p, .tdcss-elements ul {
    margin-top: 0; }

/* line 45, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-top {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 2em; }

/* line 53, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tddcss-top__link {
  float: right;
  margin-right: 1.25em;
  color: #558696; }

/* line 59, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tddcss-top__link:hover {
  color: #96cddf; }

/* line 66, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning,
.tdcss-fragment .tdcss-diff-stats {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 3px;
  font-size: 10px;
  color: white;
  background-color: red; }

/* line 77, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning {
  position: fixed;
  z-index: 10000;
  font-size: 12px; }

/* line 83, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning > a {
  padding-left: 0.25em;
  color: white; }

/* line 88, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-warning > a:hover {
  text-decoration: none; }

/* line 92, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-fragment.tdcss-has-diff {
  outline: 1px dotted red; }

/* line 96, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-diff-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0.5; }

/* line 105, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-dom-example {
  float: left;
  position: relative;
  width: 60%;
  padding: 1em; }

/* line 114, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-title {
  font-size: 2em;
  color: #7A888D; }

/* line 119, /Users/mberridge/Sites/tdcss.js/src/tdcss.scss */
.tdcss-no-fragments {
  font-weight: 200;
  color: gray;
  text-align: center; }
